.btn{
    background-color: rgb(94, 94, 223);
    text-align: center;
    font-size: larger;
    padding: 7px;
    cursor: pointer;
    border-radius: 6px;

}
.linked{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.linked > div > li {
    padding-top: 5px;
    list-style-type: none;
    font-size: 22px;
}