.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  place-items: center;
  margin: auto;
  border: 2px solid black;
  width: 90%;
  justify-content:space-around;
  background-color: rgb(57, 45, 68);
  color: rgb(221, 215, 215);
  margin-top: 30px;
  border-radius: 5px;
}

